<article{{ attributes.addClass('index-services') }}>
  {% if label and not page %}
    <h2{{ title_attributes.addClass('index-services--title') }}>
      {{ label }}
    </h2>
  {% endif %}

  <div{{ content_attributes.addClass('index-services--container') }}>
    {{ content }}
  </div>

</article>
